<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TuAdmin - Admin</title>
        {{ include('stylesheets.twig') }}
        {{ include('stylesadmin.twig') }}
        <link rel="stylesheet" type="text/css" href="{{ url('public/css/login.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url('public/css/ui.css') }}">
    </head>
    <body class="align bg-img">
        <div class="container_form">
            <div class="grid">
                <form id="login_admin" class="form login">
                    <div class="logo_form">
                        <h4 style="font-size:25px; max-width:80%; margin:0 auto;">
                            <i class="fa fa-lock" style="color:#359bdc;" aria-hidden="true"></i>
                            Log in
                        </h4>
                    </div>

                    <div class="form-group">
                        <div class="form_box">
                            <i class="box_usr"></i>
                            <input id="loguser" name="username" type="text" placeholder="Usuario">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form_box">
                            <i class="box_pass"></i>
                            <input id="logpass" name="password" type="password" data-toggle="tooltip" data-trigger="manual" data-title="Mayusculas Activas" placeholder="Contraseña" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group">
                        <a>Olvidaste tu Contraseña?</a>
                    </div>

                    <div class="form-group">
                        <button type="button" id="loginAdminBtn">Iniciar Sesion</button>
                    </div>

                </form>
            </div>
        </div>
        {#{{ include('scripts.twig') }}#}
        <script>
          // window.socket = io.connect('http://192.168.1.72:3000', { autoConnect: false });
          var BASE_PATH = '{{ url('/') }}';
          var AJAX_PATH = '{{ url('/ajax/') }}';
        </script>

        <script type="text/javascript" src="{{ url('public/js/plugins/vue@2.3.4.js') }}"></script>
        <script type="text/javascript" src="{{ url('public/js/jquery-3.1.1.min.js')  }}"></script>
        <script type="text/javascript" src="{{ url('public/js/plugins/vee-validate.min.js')  }}"></script>
        <script type="text/javascript" src="{{ url('public/js/plugins/pnotify/pnotify.js')  }}"></script>
        <script type="text/javascript" src="{{ url('public/js/plugins/pnotify/pnotify.animate.js')  }}"></script>
        <script type="text/javascript" src="{{ url('public/js/plugins/pnotify/pnotify.buttons.js')  }}"></script>
        <script type="text/javascript" src="{{ url('public/js/plugins/pnotify/pnotify.confirm.js')  }}"></script>
        <script type="text/javascript" src="{{ url('public/js/plugins/pnotify/pnotify.nonblock.js')  }}"></script>
        <script type="text/javascript" src="{{ url('public/js/plugins/pnotify/pnotify.mobile.js')  }}"></script>
        <script type="text/javascript" src="{{ url('public/js/plugins/pnotify/pnotify.desktop.js')  }}"></script>
        <script type="text/javascript" src="{{ url('public/js/plugins/pnotify/pnotify.history.js')  }}"></script>
        <script type="text/javascript" src="{{ url('public/js/plugins/pnotify/pnotify.callbacks.js')  }}"></script>

        {% block loadScripts %}
            <script id="scriptContainer" type="text/javascript">

            var ADMIN_PATH = '{{ url('/admin') }}';

              $(document).ready(function(){
                $('#loguser').val((localStorage["adminUser"] !== undefined)? localStorage["adminUser"] : "");
                 $('#logpass').val((localStorage["adminpass"] !== undefined)? localStorage["adminpass"] : "");
              });

                $( '[type=password]' ).keypress( function( e ) {
                    var $password = $( this ),
                        tooltipVisible = $( '.tooltip' ).is( ':visible' ),
                        s = String.fromCharCode( e.which );

                    // Check if capslock is on. No easy way to test for this Tests if letter is upper
                    // case and the shift key is NOT pressed.
                    if ( s.toUpperCase( ) === s && s.toLowerCase( ) !== s && !e.shiftKey ) {
                        if ( !tooltipVisible )
                            $password.tooltip( 'show' );
                        }
                    else {
                        if ( tooltipVisible )
                            $password.tooltip( 'hide' );
                        }

                    //Hide the tooltip when moving away from the password field
                    $password.blur( function( e ) {
                        $password.tooltip( 'hide' );
                    });
                });

                $( document ).on( 'focus', '.form-group input', function( ) {
                    $( this ).closest( '.form-group' ).find( '.input-group-addon' ).css({ 'background-color': '#00bcd4', 'transition': 'all .3s' });
                });

                $( document ).on( 'blur', '.form-group input', function( ) {
                    $( this ).closest( '.form-group' ).find( '.input-group-addon' ).css({ 'background-color': '#00bcd4', 'transition': 'all .3s' });
                });

                $( document ).on( 'click', '#loginAdminBtn', function( ) {
                    var loginJson = {};
                    var loginData = $( '#login_admin' ).serializeArray( );
                    //console.log( loginData );
                    $.each( loginData, function( i, item ) {
                        loginJson[item.name] = item.value;
                    });

                    $.ajax({
                        data: loginJson,
                        url: AJAX_PATH+'admin/login',
                        type: 'POST'
                    }).done( function( response ) {
                        console.log( response );
                        console.log(response.data);
                        if ( response.data == 1 ) {
                            localStorage['adminUser'] = $('#loguser').val();
                            localStorage['adminpass'] = $('#logpass').val();
                            new PNotify({ title: 'Éxito', text: 'Usuario Logueado Correctamente', type: 'success', icon: 'ui-icon ui-icon-flag' });

                            // $('#login_admin').find('*').fadeOut( "slow");
                            $.when($( '.form-container' ).fadeOut( "medium" )).then( function( ) {
                                setTimeout( function( ) {}, 2000);
                                $( '#login_admin .row' ).css({ 'padding-top': '15px', 'padding-bottom': '15px' });
                                $( '.panel' ).css({ 'border': 'none' });
                                // $( '#login_admin' ).css({ 'background-color': '#22b54b', 'border': '1px solid #13af00', 'transition': 'all .3s', 'padding': '5px', 'height': '100px' });}
                                $( '#login_admin' ).append( '\
                  <div class="row">\
                          <div id="status' +
                                        'Login" class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-4 ' +
                                        'col-md-4"><i class="fa fa-check" aria-hidden="true"></i></div>\
                ' +
                                        '          <div id="textLoginStatus" class="col-xs-offset-3 col-xs-6 col-sm-offse' +
                                        't-3 col-sm-6 col-md-offset-4 col-md-4">Usuario Logueado!</div>\
                ' +
                                        '  </div>\
                          ' );
                                setTimeout( function( ) {
                                    window.location.replace(ADMIN_PATH);
                                }, 1000);
                            });
                        } else {
                            new PNotify({ title: 'Error', text: 'Usuario o Contraseña Incorrectos', type: 'warning', icon: 'ui-icon ui-icon-flag' });
                        }
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
