<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="theme-color" content="#1f5993">
        <link rel="shortcut icon" href="favicon/2/favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon/2/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="57x57" href="favicon/2/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicon/2/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicon/2/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicon/2/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicon/2/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicon/2/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicon/2/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicon/2/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/2/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="favicon/2/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/2/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon/2/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/2/favicon-16x16.png">
        <link rel="manifest" href="manifest.json">
        <meta name="msapplication-TileColor" content="#3498d8">
        <meta name="msapplication-TileImage" content="favicon/2/ms-icon-144x144.png">
        <title>TuAdmin</title>
        {{ include('stylesheets.twig') }}
    </head>
    <body class="hold-transition layout-fixed sidebar-mini">
        <section id="uiBody" data-uiType="user">
            <div class="loadui" v-if="!loaded">
                <div></div><div></div>
                <div></div><div></div>
            </div>
            <div v-cloak :class="[theme]">
                <div class="wrapper ui-body">
                    <header class="main-header">
                        <nav class="navbar navbar-static-top" role="navigation">
                            <a role="button" class="sidebar-toggle" data-toggle="offcanvas" @click="toggleMenuSize()">
                                <span class="sr-only">Toggle navigation</span>
                            </a>
                            <component is="uiMenuControl"
                                :menu-control-model="menuControl"
                                :data-sidebar="sidebarMenu"
                                class-name="nav nav-tabs">
                            </component>
                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown user user-menu">
                                        <a role="button" class="dropdown-toggle" data-toggle="dropdown" title="Usuario">
                                            <i class="fa fa-user"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="user-header">
                                                <img src="{{ cdnpath ~ session.userData.picture }}" class="img-circle" alt="User Image">
                                                <p>
                                                    {{session.userData.name}}
                                                    <small>Member since Nov. 2012</small>
                                                </p>
                                            </li>
                                            {#
                                            <li class="user-body">
                                                <div class="row">
                                                    <div class="col-xs-4 text-center">
                                                        <a role="button">Followers</a>
                                                    </div>
                                                    <div class="col-xs-4 text-center">
                                                        <a role="button">Sales</a>
                                                    </div>
                                                    <div class="col-xs-4 text-center">
                                                        <a role="button">Friends</a>
                                                    </div>
                                                </div>
                                            </li>
                                            #}
                                            <li class="user-footer">
                                                <div class="pull-left">

                                                </div>
                                                <div class="pull-right">
                                                    <a role="button" data-action="logout" class="btn btn-default btn-flat">Sign out</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown messages-menu" v-if="uiMessage">
                                        <a role="button" class="bg-red dropdown-toggle" data-toggle="dropdown" title="Anuncio">
                                            <i class="ui ui-message"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <component is="uiCountdown" :countdown-date="uidate"></component>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown messages-menu hidden">
                                        <a role="button" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="label label-success">1</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">Tienes 1 nuevo mensaje</li>
                                            <li>
                                                <ul class="menu">
                                                    <li>
                                                        <a role="button">
                                                            <div class="pull-left bg-light-blue text-center">
                                                                <img src="public/img/logo_ta.svg" class="img-circle block centered" alt="User Image">
                                                            </div>
                                                            <h4>
                                                                Support
                                                                <small>
                                                                    <i class="fa fa-clock-o"></i>
                                                                    5 mins</small>
                                                            </h4>
                                                            <p>Lorem ipsum dolor sit amet?</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="footer">
                                                <a role="button">Ver todos los mensajes</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- <li class="dropdown notifications-menu">
                                        <a role="button" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-bell-o"></i>
                                            <span class="label label-warning">3</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header">Tienes 3 notificaciones</li>
                                            <li>
                                                <ul class="menu">
                                                    <li>
                                                        <a role="button">
                                                            <i class="fa fa-users text-aqua"></i>
                                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a role="button">
                                                            <i class="fa fa-users text-aqua"></i>
                                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a role="button">
                                                            <i class="fa fa-users text-aqua"></i>
                                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="footer">
                                                <a role="button">View all</a>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <li>
                                        <component is="uiNotifications"></component>
                                    </li>
                                    <li>
                                        <component is="uiTasks"></component>
                                    </li>
                                    <li class="separator"></li>
                                    <li>
                                        <a role="button" title="Dashboard" @click="linkAction( 'openSublime', 'dashboard')">
                                            <i class="fa fa-dashboard"></i>
                                        </a>
                                    </li>
                                    <li class="hidden-sm hidden-xs">
                                        <a @click="toggleFullScreen()" data-tooltip="Pantalla Completa" role="button" title="Toggle FullScreen">
                                            <span class="fa fa-window-maximize"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" data-toggle="control-sidebar" title="Settings Panel">
                                            <i class="fa fa-gears"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </header>
                    <aside class="main-sidebar">
                        <!-- <div class="mini-sidebar-toggle"></div> -->
                        <div class="user-container bg-baseDark">
                            <div class="logo">
                                <a role="button" class="content contentMiddle">
                                    <span class="logo-mini padd5">
                                        <img src="public/img/logo-mini.png" class="h20" alt="User Image">
                                    </span>
                                    <span class="logo-lg padd5">
                                        <img src="public/img/logo_ta.svg" class="h20 img-responsive" alt="User Image">
                                    </span>
                                </a>
                            </div>
                            <div class="user-panel">
                                <div class="pull-left image img-circle bg-blue"><img src="{{ cdnpath ~ session.userData.picture }}" alt="User Image" class="img-circle"></div>
                                <div class="pull-left info">
                                    <p>{{session.userData.name ~ ' ' ~ session.userData.lastname}}</p>
                                    <i class="fa fa-circle text-success"></i>
                                    Online
                                </div>
                            </div>
                        </div>
                        {#<component is="uiSidebar" :menu-data-model="{{session.userData.json}}"></component>#}
                        <component is="uiSidebar" :menu-data-model="sidebarMenu"></component>
                        {#<section class="sidebar">
                            {{ include('sidebar/sidebar.twig') }}
                        </section>#}
                    </aside>
                    <div class="content-wrapper">
                        <section class="ui-content">
                            <component is="uiTabControl"
                                v-bind:data-model="tabControl"
                                class-name="nav nav-tabs">
                            </component>
                            <component is="uiLoader" :loader="loader"></component>
                            <component is="uiTabContent"
                                v-bind:data-model="tabContent">
                            </component>
                            <component is="uiLateralContent"
                                v-bind:data-model="lateralControl">
                            </component>
                        </section>
                    </div>
                    <footer class="main-footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-10 col-xs-8 noPadding">
                                    <component is="uiLateralControl"
                                        v-bind:data-model="lateralControl"
                                        class-name="tabControlLateral">
                                    </component>
                                </div>
                                <div class="col-md-2 col-xs-4 noPadding">
                                    <div id="clockdate" class="block h30 bg-uiColor-dark">
                                        <div class="clockdate-wrapper content-fluid contentMiddle">
                                            <div class="cLightGrey">${ h } : ${ m } : ${ s }</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <aside class="control-sidebar control-sidebar-dark">
                        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                            <li class="active">
                                <a href="#control-sidebar-notify-tab" data-toggle="tab">
                                    <i class="fa fa-user"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#control-sidebar-home-tab" data-toggle="tab">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#control-sidebar-faq-tab" data-toggle="tab">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#control-sidebar-settings-tab" data-toggle="tab">
                                    <i class="fa fa-gears"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="control-sidebar-notify-tab">
                                <!-- <ui-countdown :countdown-date='uiDate'></ui-countdown> -->
                            </div>
                            <div class="tab-pane" id="control-sidebar-home-tab">
                                {#<component is="uiConfigFavorites"></component>#}
                                {#
                                <h3 class="control-sidebar-heading">Recent Activity</h3>
                                <ul class="control-sidebar-menu">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="menu-icon fa fa-fire bg-red"></i>
                                            <div class="menu-info">
                                                <h4 class="control-sidebar-subheading">Evento x</h4>
                                                <p>Will be 23 on April 24th</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <h3 class="control-sidebar-heading">Ejemplo de ProgressBar</h3>
                                <ul class="control-sidebar-menu">
                                    <li>
                                        <a href="javascript:;">
                                            <h4 class="control-sidebar-subheading">
                                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                <span class="pull-right-container">
                                                    <span class="label label-danger pull-right">70%</span>
                                                </span>
                                            </h4>

                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                #}
                            </div>
                            <div class="tab-pane" id="control-sidebar-faq-tab">
                            {#
                                Frecuent Asked Questions
                            #}
                            </div>
                            <div class="tab-pane" id="control-sidebar-settings-tab">
                                <div class="list-group">
                                    <a
                                        role="button"
                                        class="list-group-item"
                                        v-on:click="changetheme('blue')">
                                        Azul
                                        <span class="badge bg-blue">&nbsp;</span>
                                    </a>
                                    <a
                                        role="button"
                                        class="list-group-item"
                                        v-on:click="changetheme('green')">
                                        Verde
                                        <span class="badge bg-green">&nbsp;</span>
                                    </a>
                                    <a
                                        role="button"
                                        class="list-group-item"
                                        v-on:click="changetheme('red')">
                                        Rojo
                                        <span class="badge bg-red">&nbsp;</span>
                                    </a>
                                    <a
                                        role="button"
                                        class="list-group-item"
                                        v-on:click="changetheme('yellow')">
                                        Amarillo
                                        <span class="badge bg-yellow">&nbsp;</span>
                                    </a>
                                    <a
                                        role="button"
                                        class="list-group-item"
                                        v-on:click="changetheme('purple')">
                                        morado
                                        <span class="badge bg-purple">&nbsp;</span>
                                    </a>
                                    <a
                                        role="button"
                                        class="list-group-item"
                                        v-on:click="changetheme('black')">
                                        Negro
                                        <span class="badge bg-black">&nbsp;</span>
                                    </a>
                                    <a
                                        role="button"
                                        class="list-group-item"
                                        v-on:click="changetheme('flat')">
                                        FLAT
                                        <span class="badge bg-Dark">&nbsp;</span>
                                    </a>
                                </div>
                                {#<form method="post">
                                    <h3 class="control-sidebar-heading">General Settings</h3>
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">
                                            Report panel usage
                                            <input type="checkbox" class="pull-right" checked>
                                        </label>
                                        <p>
                                            Some information about this general settings option
                                        </p>
                                    </div>
                                </form>#}
                            </div>
                        </div>
                    </aside>
                    <div class="control-sidebar-bg"></div>
                </div>
            </div>
        </section>
        {{ include('scripts.twig') }}
    </body>
</html>
