<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <h4>Nivel de Cuentas</h4>
                <div class="form-group">
                    <label>Nivel 1:</label>
                   {% if niveles.Cuentas_nivel1 != "" %}

                     <input type="number" id="cuenta_nivel1" value="{{ niveles.Cuentas_nivel1 }}">


                    {% else %}
                    <input type="number" id="cuenta_nivel1" value="0">
                    {% endif %}

                </div>
                <div class="form-group">

                    <label>Nivel 2:</label> 
                    {% if niveles.Cuentas_nivel2 != "" %}

                     <input type="number" id="cuenta_nivel2" value="{{ niveles.Cuentas_nivel2 }}">


                    {% else %}
                    <input type="number" id="cuenta_nivel2" value="0">
                    {% endif %}


                    <!--<input type="number" id="cuenta_nivel2" value="">-->
                </div>
                <div class="form-group">
                    <label>Nivel 3:</label>
                    {% if niveles.Cuentas_nivel3 != "" %}

                     <input type="number" id="cuenta_nivel3" value="{{ niveles.Cuentas_nivel3 }}">


                    {% else %}
                    <input type="number" id="cuenta_nivel3" value="0">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Nivel 4:</label>
                  {% if niveles.Cuentas_nivel4 != "" %}

                     <input type="number" id="cuenta_nivel4" value="{{ niveles.Cuentas_nivel4 }}">


                    {% else %}
                    <input type="number" id="cuenta_nivel4" value="0">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Nivel 5:</label>
                    {% if niveles.Cuentas_nivel5 != "" %}

                     <input type="number" id="cuenta_nivel5" value="{{ niveles.Cuentas_nivel5 }}">


                    {% else %}
                    <input type="number" id="cuenta_nivel5" value="0">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Nivel 6:</label>
                    {% if niveles.Cuentas_nivel6 != "" %}

                     <input type="number" id="cuenta_nivel6" value="{{ niveles.Cuentas_nivel6 }}">


                    {% else %}
                    <input type="number" id="cuenta_nivel6" value="0">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Nivel 7:</label>
                   {% if niveles.Cuentas_nivel7 != "" %}

                     <input type="number" id="cuenta_nivel7" value="{{ niveles.Cuentas_nivel7 }}">


                    {% else %}
                    <input type="number" id="cuenta_nivel7" value="0">
                    {% endif %}
                </div>
               
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <h4>Nivel de Centros</h4>
                <div class="form-group">
                    <label>Nivel 1:</label>
                   
                    {% if niveles.Centros_nivel1 != "" %}

                     <input type="number" id="Centros_nivel1" value="{{ niveles.Centros_nivel1 }}">


                    {% else %}
               <input type="number" id="Centros_nivel1" value="0">
                    {% endif %}
                   
                   
                  
                </div>
                <div class="form-group">

                    <label>Nivel 2:</label>
                      {% if niveles.Centros_nivel2 != "" %}

                     <input type="number" id="Centros_nivel2" value="{{ niveles.Centros_nivel2 }}">


                    {% else %}
               <input type="number" id="Centros_nivel2" value="0">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Nivel 3:</label>
                      {% if niveles.Centros_nivel3 != "" %}

                     <input type="number" id="Centros_nivel3" value="{{ niveles.Centros_nivel3 }}">


                    {% else %}
               <input type="number" id="Centros_nivel3" value="0">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Nivel 4:</label>
                    {% if niveles.Centros_nivel4 != "" %}

                     <input type="number" id="Centros_nivel4" value="{{ niveles.Centros_nivel4 }}">


                    {% else %}
               <input type="number" id="Centros_nivel4" value="0">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Nivel 5:</label>
                      {% if niveles.Centros_nivel5 != "" %}

                     <input type="number" id="Centros_nivel5" value="{{ niveles.Centros_nivel5 }}">


                    {% else %}
               <input type="number" id="Centros_nivel5" value="0">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Nivel 6:</label>
                     {% if niveles.Centros_nivel6 != "" %}

                     <input type="number" id="Centros_nivel6" value="{{ niveles.Centros_nivel6 }}">


                    {% else %}
               <input type="number" id="Centros_nivel6" value="0">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Nivel 7:</label>
                     {% if niveles.Centros_nivel7 != "" %}

                     <input type="number" id="Centros_nivel7" value="{{ niveles.Centros_nivel7 }}">


                    {% else %}
               <input type="number" id="Centros_nivel7" value="0">
                    {% endif %}
                </div>
               
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>
</div>