<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>ACUSE DE CANCELACION Factura Serie: {{ invoice.serie }} Folio: {{ invoice.invoice_number }}</title>
		<link href="{{ url('public/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
		<style>
			.borderless > tbody > tr > td{
			    border: none;
			}			
			table.datos > tbody > tr > td,
			table.datos > thead > tr > th{
				font-size: 10px;
			}
			table.datos,
			table.sello {
				padding: none;
				margin: none;
			}
			table.sello > tbody > tr > td{
				font-size: 8px;
				white-space: -o-pre-wrap; 
			    word-wrap: break-word;
			    white-space: pre-wrap; 
			    white-space: -moz-pre-wrap; 
			    white-space: -pre-wrap;			    
			}
			.inline {
				display: inline;
			}
		</style>
	</head>
	<body>		
		<h2>ACUSE DE CANCELACION DE FACTURA</h2>
		<table class="table table-responsive borderless datos">
			<tbody>						
				<tr>
					<td width="20%">
						<img  
				            src="data:{{ logo['mimetype'] }};base64, {{ logo['img'] }}" 
				            height="120px"
				            width="120px">
					</td>
					<td width="80%">
						<h5 class="inline"><strong>{{ invoice.name }}</strong></h5> <br>
						RFC: <strong>{{ invoice.rfc }}</strong> <br>
					    Serie: <strong>{{ invoice.serie }}</strong> Folio: <strong>{{ invoice.invoice_number }}</strong> <br>
					    Dirección:<br>
					    {% if  invoice.street %}
					    	Calle: {{ invoice.street }}
					    {% endif %}
					    {% if  invoice.external_number %}
					    	No.: {{ invoice.external_number }} 
					    {% endif %}
					    {% if  invoice.internal_number %}
					    	Int: {{ invoice.internal_number }}
					    {% endif %}
					    {% if  invoice.suburb %}
					    	Colonia: {{ invoice.suburb }}
					    {% endif %}
					    {% if  invoice.postal_code %}
					    	CP: {{ invoice.postal_code }}
					    {% endif %}
					    <br>
					    {% if  invoice.state %}
					    	Estado: {{ invoice.state }}
					    {% endif %}
					    {% if  invoice.municipality %}
					    	Municipio: {{ invoice.municipality }}
					    {% endif %}
					    {% if  invoice.town %}
					    	Ciudad: {{ invoice.town }}
					    {% endif %}
					    <br>
					    {% if  invoice.phones %}
					    	Teléfonos: {{ invoice.phones }} <br>
					    {% endif %}
					    {% if  invoice.mails %}
					    	Correo: {{ invoice.mails }}
					    {% endif %}
					</td>
				</tr>						
			</tbody>
		</table>
		<table class="table table-responsive borderless datos">
			<tbody>
				<tr>
					<td width="50%">
						<h6 class="inline"><strong>Datos Cliente</strong></h6> <br>
						Cliente: <strong>{{ invoice.receiver_name }}</strong><br>
						RFC: <strong>{{ invoice.receiver_rfc }}</strong><br>
						{% if  invoice.receiver_noRegIdTrib %}
					    	Número de Registro de Identidad Fiscal: <strong>{{ invoice.receiver_noRegIdTrib }}</strong><br>
					    {% endif %}
						Dirección:<br>
					    {% if  invoice.receiver_street %}
					    	Calle: {{ invoice.receiver_street }}
					    {% endif %}
					    {% if  invoice.receiver_external_number %}
					    	No.: {{ invoice.receiver_external_number }} 
					    {% endif %}
					    {% if  invoice.receiver_internal_number %}
					    	Int: {{ invoice.receiver_internal_number }}
					    {% endif %}
					    {% if  invoice.receiver_suburb %}
					    	Colonia: {{ invoice.receiver_suburb }}
					    {% endif %}
					    {% if  invoice.receiver_postal_code %}
					    	CP: {{ invoice.receiver_postal_code }}
					    {% endif %}
					    <br>
					    {% if  invoice.receiver_state %}
					    	Estado: {{ invoice.receiver_state }}
					    {% endif %}
					    {% if  invoice.receiver_municipality %}
					    	Municipio: {{ invoice.receiver_municipality }}
					    {% endif %}
					    {% if  invoice.receiver_town %}
					    	Ciudad: {{ invoice.receiver_town }}
					    {% endif %}
					    <br>
					    {% if  invoice.receiver_phones %}
					    	Teléfonos: {{ invoice.receiver_phones }} <br>
					    {% endif %}
					    {% if  invoice.receiver_mails %}
					    	Correo: {{ invoice.receiver_mails }} <br>
					    {% endif %}
					    <br>
					    Moneda: <strong>{{ invoice.currency_code ~ ' ' ~ invoice.currency_name }}</strong> <br>
						{% if  invoice.exchange_rate %}
					    	Tipo de Cambio: {{ invoice.exchange_rate }} Confirmación: {{ invoice.exchange_confirmation }}<br>
					    {% endif %}
						Forma de Pago: <strong>{{ invoice.payment_way_code ~ ' ' ~ invoice.payment_way_name }}</strong> <br>
						Método de Pago: <strong>{{ invoice.payment_method_code ~ ' ' ~ invoice.payment_method_name }}</strong> <br>
						{% if  invoice.payment_conditions %}
					    	Condiciones de Pago: {{ invoice.payment_conditions }}
					    {% endif %}
					</td>
					<td width="50%">
						<h6 class="inline"><strong>Datos Fiscales</strong></h6> <br>
						Folio Fiscal: <strong>{{ invoice.stamp_UUID }}</strong> <br>
						Tipo: <strong>{{ invoice.invoice_type_code ~ ' ' ~ invoice.invoice_type_name }}</strong> <br>
						Regimen Fiscal: <strong>{{ invoice.invoice_tax_regime_code ~ ' ' ~ invoice.invoice_tax_regime_name }}</strong> <br>
						Uso de CFDI: <strong>{{ invoice.receiver_invoice_use_code ~ ' ' ~ invoice.receiver_invoice_use_name }}</strong> <br>
						Lugar de Expedición: <strong>{{ invoice.expedition_place }}</strong> <br>
						Fecha de Expedición: <strong>{{ invoice.expedition_date.format('d/m/Y H:i:s') ~ ' hrs.' }}</strong>						
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<br>
		<h6 class="inline">Fecha de Cancelación:</h6>
		<h6><strong>{{ invoice.canceled_at.format('d/m/Y H:i:s') ~ ' hrs.' }}</strong></h6>
		<h6 class="inline">Folio de Cancelación:</h6> <br>
		<h6><strong>{{ invoice.stamp_cancel }}</strong></h6>
	</body>
</html>