<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Factura Serie: {{ invoice.serie }} Folio: {{ invoice.invoice_number }}</title>
		<link href="{{ url('public/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
		<style>
			.borderless > tbody > tr > td{
			    border: none;
			}			
			table.datos > tbody > tr > td,
			table.datos > thead > tr > th{
				font-size: 10px;
			}
			table.datos,
			table.sello {
				padding: none;
				margin: none;
			}
			table.sello > tbody > tr > td{
				font-size: 8px;
				white-space: -o-pre-wrap; 
			    word-wrap: break-word;
			    white-space: pre-wrap; 
			    white-space: -moz-pre-wrap; 
			    white-space: -pre-wrap;			    
			}
			.inline {
				display: inline;
			}
		</style>
	</head>
	<body>		
		<table class="table table-responsive borderless datos">
			<tbody>						
				<tr>
					<td width="20%">
						<img  
				            src="data:{{ logo['mimetype'] }};base64, {{ logo['img'] }}" 
				            height="120px"
				            width="120px">
					</td>
					<td width="80%">
						<h5 class="inline"><strong>{{ invoice.name }}</strong></h5> <br>
						RFC: <strong>{{ invoice.rfc }}</strong> <br>
					    Serie: <strong>{{ invoice.serie }}</strong> Folio: <strong>{{ invoice.invoice_number }}</strong> <br>
					    Dirección:<br>
					    {% if  invoice.street %}
					    	Calle: {{ invoice.street }}
					    {% endif %}
					    {% if  invoice.external_number %}
					    	No.: {{ invoice.external_number }} 
					    {% endif %}
					    {% if  invoice.internal_number %}
					    	Int: {{ invoice.internal_number }}
					    {% endif %}
					    {% if  invoice.suburb %}
					    	Colonia: {{ invoice.suburb }}
					    {% endif %}
					    {% if  invoice.postal_code %}
					    	CP: {{ invoice.postal_code }}
					    {% endif %}
					    <br>
					    {% if  invoice.state %}
					    	Estado: {{ invoice.state }}
					    {% endif %}
					    {% if  invoice.municipality %}
					    	Municipio: {{ invoice.municipality }}
					    {% endif %}
					    {% if  invoice.town %}
					    	Ciudad: {{ invoice.town }}
					    {% endif %}
					    <br>
					    {% if  invoice.phones %}
					    	Teléfonos: {{ invoice.phones }} <br>
					    {% endif %}
					    {% if  invoice.mails %}
					    	Correo: {{ invoice.mails }}
					    {% endif %}
					</td>
				</tr>						
			</tbody>
		</table>
		<table class="table table-responsive borderless datos">
			<tbody>
				<tr>
					<td width="50%">
						<h6 class="inline"><strong>Datos Cliente</strong></h6> <br>
						Cliente: <strong>{{ invoice.receiver_name }}</strong><br>
						RFC: <strong>{{ invoice.receiver_rfc }}</strong><br>
						{% if  invoice.receiver_noRegIdTrib %}
					    	Número de Registro de Identidad Fiscal: <strong>{{ invoice.receiver_noRegIdTrib }}</strong><br>
					    {% endif %}
						Dirección:<br>
					    {% if  invoice.receiver_street %}
					    	Calle: {{ invoice.receiver_street }}
					    {% endif %}
					    {% if  invoice.receiver_external_number %}
					    	No.: {{ invoice.receiver_external_number }} 
					    {% endif %}
					    {% if  invoice.receiver_internal_number %}
					    	Int: {{ invoice.receiver_internal_number }}
					    {% endif %}
					    {% if  invoice.receiver_suburb %}
					    	Colonia: {{ invoice.receiver_suburb }}
					    {% endif %}
					    {% if  invoice.receiver_postal_code %}
					    	CP: {{ invoice.receiver_postal_code }}
					    {% endif %}
					    <br>
					    {% if  invoice.receiver_state %}
					    	Estado: {{ invoice.receiver_state }}
					    {% endif %}
					    {% if  invoice.receiver_municipality %}
					    	Municipio: {{ invoice.receiver_municipality }}
					    {% endif %}
					    {% if  invoice.receiver_town %}
					    	Ciudad: {{ invoice.receiver_town }}
					    {% endif %}
					    <br>
					    {% if  invoice.receiver_phones %}
					    	Teléfonos: {{ invoice.receiver_phones }} <br>
					    {% endif %}
					    {% if  invoice.receiver_mails %}
					    	Correo: {{ invoice.receiver_mails }} <br>
					    {% endif %}
					    <br>
					    Moneda: <strong>{{ invoice.currency_code ~ ' ' ~ invoice.currency_name }}</strong> <br>
						{% if  invoice.exchange_rate %}
					    	Tipo de Cambio: {{ invoice.exchange_rate }} Confirmación: {{ invoice.exchange_confirmation }}<br>
					    {% endif %}
						Forma de Pago: <strong>{{ invoice.payment_way_code ~ ' ' ~ invoice.payment_way_name }}</strong> <br>
						Método de Pago: <strong>{{ invoice.payment_method_code ~ ' ' ~ invoice.payment_method_name }}</strong> <br>
						{% if  invoice.payment_conditions %}
					    	Condiciones de Pago: {{ invoice.payment_conditions }}
					    {% endif %}
					</td>
					<td width="50%">
						<h6 class="inline"><strong>Datos Fiscales</strong></h6> <br>
						Folio Fiscal: <strong>{{ invoice.stamp_UUID }}</strong> <br>
						Tipo: <strong>{{ invoice.invoice_type_code ~ ' ' ~ invoice.invoice_type_name }}</strong> <br>
						Regimen Fiscal: <strong>{{ invoice.invoice_tax_regime_code ~ ' ' ~ invoice.invoice_tax_regime_name }}</strong> <br>
						Uso de CFDI: <strong>{{ invoice.receiver_invoice_use_code ~ ' ' ~ invoice.receiver_invoice_use_name }}</strong> <br>
						Lugar de Expedición: <strong>{{ invoice.expedition_place }}</strong> <br>
						Fecha de Expedición: <strong>{{ invoice.expedition_date.format('d/m/Y H:i:s') ~ ' hrs.' }}</strong>						
					</td>
				</tr>
			</tbody>
		</table>
		<table class="table table-responsive table-bordered datos">
			<thead>
				<tr>
					<th></th>
					<th>CVE Producto / Servicio</th>
					<th>Identificador</th>
					<th>CVE Unidad</th>
					<th>Unidad</th>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Cantidad</th>
					<th>Subtotal</th>
					<th>Impuestos</th>
					<th>Descuentos</th>
					<th>Importe</th>
				</tr>
			</thead>
			<tbody>
				{% for concept in invoice.concepts %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ concept.invoice_ps_code }}</td>
						<td>{{ concept.product_barcode }}</td>
						<td>{{ concept.unit_code ~ ' ' ~ concept.unit_name }}</td>
						<td>{{ concept.unit_description }}</td>
						<td>{{ concept.product_name }}</td>
						<td align="right">${{ concept.unit_price | number_format(2) }}</td>
						<td>{{ concept.quantity }}</td>
						<td align="right">${{ concept.subtotal | number_format(2) }}</td>
						<td align="right">${{ (concept.tax_amount - tax_withholding_amount) | number_format(2) }}</td>
						<td align="right">${{ concept.discount_amount | number_format(2) }}</td>
						<td align="right">${{ concept.total | number_format(2) }}</td>
					</tr>
				{% endfor %}				
			</tbody>
		</table>

		<table class="table table-responsive borderless datos">
			<thead>
				<tr>
					<th>Impuestos</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="50%">
						<table class="table table-responsive table-bordered datos">
							<thead>
								<tr>
									<th></th>
									<th>Impuesto</th>
									<th>Forma</th>
									<th>Valor</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								{% for concept in invoice.concepts %}
									{% set index = loop.index %}
									{% for tax in concept.taxes %}
										<tr>
											<td>{{ index }}</td>
											<td>
												{% if  tax.tax_behavior_id == 1 %}
											    	{% set behavior = 'Traslado' %}
											    {% else %}
												    {% set behavior = 'Retención' %}
												{% endif %}
												{{ tax.tax_type_code ~ ' ' ~ tax.tax_type_name  ~ ' ' ~ behavior}}
											</td>		
											<td>{{ tax.tax_factor_code }}</td>
											<td>{{ tax.tax_value }}</td>					
											<td align="right">${{ tax.tax_amount | number_format(2) }}</td>
										</tr>
									{% endfor %}
									{% for tax in concept.taxesWithholding %}
										<tr>
											<td>{{ index }}</td>
											<td>
												{% if  tax.tax_behavior_id == 1 %}
											    	{% set behavior = 'Traslado' %}
											    {% else %}
												    {% set behavior = 'Retención' %}
												{% endif %}
												{{ tax.tax_type_code ~ ' ' ~ tax.tax_type_name  ~ ' ' ~ behavior}}
											</td>		
											<td>{{ tax.tax_factor_code }}</td>
											<td>{{ tax.tax_value }}</td>					
											<td align="right">${{ tax.tax_amount | number_format(2) }}</td>
										</tr>
									{% endfor %}
								{% endfor %}				
							</tbody>
						</table>
					</td>
					<td width="50%">
						<table class="table table-responsive borderless datos">
							<tbody>
								<tr>
									<td width="50%" align="right" style="vertical-align: middle;">
										<h6 class="inline"><strong>Subtotal:</strong></h6>
									</td>
									<td>
										<h4 class="inline">${{ invoice.subtotal | number_format(2) }}</h4>
									</td>
								</tr>
								<tr>
									<td width="50%" align="right" style="vertical-align: middle;">
										<h6 class="inline"><strong>Impuestos Trasladados:</strong></h6>
									</td>
									<td>
										<h4 class="inline">${{ invoice.taxes1 | number_format(2) }}</h4>
									</td>
								</tr>
								<tr>
									<td width="50%" align="right" style="vertical-align: middle;">
										<h6 class="inline"><strong>Impuestos Retenidos:</strong></h6>
									</td>
									<td>
										<h4 class="inline">${{ invoice.taxes2 | number_format(2) }}</h4>
									</td>
								</tr>
								<tr>
									<td width="50%" align="right" style="vertical-align: middle;">
										<h6 class="inline"><strong>Descuentos:</strong></h6>
									</td>
									<td>
										<h4 class="inline">${{ invoice.disscounts | number_format(2) }}</h4>
									</td>
								</tr>
								<tr>
									<td width="50%" align="right" style="vertical-align: middle;">
										<h5 class="inline"><strong>Total:</strong></h5>
									</td>
									<td>
										<h3 class="inline">${{ invoice.total | number_format(2) }}</h3>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>				
			</tbody>
		</table>
		<table class="table table-responsive borderless sello" style="table-layout: fixed; width: 100%;">
			<tbody>
				<tr>
					<td>
						<strong>No. de serie del CSD:</strong> <br>
						{{ invoice.certificate_number }} <br>
					</td>
					<td>
						<strong>Versión de Sello:</strong> <br>
						{{ invoice.stamp_version }} <br>
					</td>
				</tr>				
				<tr>
					<td colspan="2">
						<strong>Sello digital del CFDI:</strong> <br>
						{{ invoice.stamp }} <br>
					</td>
				</tr>
				<tr>
					<td width="17%">
						<img  
				            src="data:image/jpeg;base64, {{ invoice.stamp_qr }}" 
				            height="113.385826772px"
				            width="113.385826772px">
					</td>
					<td>						
						<strong>Sello digital del SAT:</strong> <br>
						{{ invoice.stamp_SAT }} <br>
						<strong>Cadena Original del complemento de certificación digital del SAT:</strong> <br>
						{{ invoice.stamp_original_chain }} <br>
						<strong>No. de serie del certificado SAT:</strong> <br>
						{{ invoice.stamp_certificate_number }} <br>
						{% if  invoice.stamp_legend %}
					    	<strong>Leyenda: </strong> <br> 
					    	{{ invoice.stamp_legend }}<br>
					    {% endif %}
						<strong>RFC del proveedor de certificación:</strong> <br>
						{{ invoice.stamp_rfc_provider }} <br>
						<strong>Fecha y hora de certificación:</strong> <br>
						{{ invoice.stamp_date.format('d/m/Y H:i:s') ~ ' hrs.' }} <br>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>