<section>
    <div id="create-employee">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <button
                    class="btn btn-success"
                    @click="employeeValidate">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Guardar
                </button>
                <button
                    class="btn btn-danger"
                    data-action="closeTab">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </button>
            </div>
        </div>
        <div class="panel-content">
            {% include '/HumanResources/Employees/basic.twig' %}
            {% include '/HumanResources/Employees/complementary.twig' %}
            {% include '/HumanResources/Employees/references.twig' %}
            {% include '/HumanResources/Employees/studiesHistory.twig' %}
            {% include '/HumanResources/Employees/workHistory.twig' %}
            {% include '/HumanResources/Employees/banks.twig' %}
            {% include '/HumanResources/Employees/social.twig' %}
        </div>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
    uiVars['title'] = '{{title}}';
    uiVars['view'] = {{view}};
    uiVars['data']   = {{data|json_encode|raw}};
    uiVars['info']   = {{info|json_encode|raw}};
    uiVars['idOp']   = {{idOp|json_encode|raw}};
    init.lenght = 0;
    init = [ {
        title: uiVars['title'],
            file: 'HumanResources/Employees/employeeSave.js',
            functions: [ {
                name: 'initHumanResourcesEmployees',
                args: [ uiVars['data'], uiVars['info'], uiVars['idOp']]
        } ]
    }];
</script>
