{% block sidebar %}
    <ul class="sidebar-menu">
        <div class="sidebar-form">
            {#<component is="uiMenuSearch"></component>#}
        </div>
        <li>
            <a
                role="button"
                @click="showMain()">
                <i class="icon ui ui-laterals"></i>
                <span class="text-uppercase">Escritorio</span>
            </a>
        </li>
        {#<li>
            <a
                role="button"
                @click="linkAction( 'openLateral',
                'warehouse/products', 'warehouse' )">
                <i class="icon ui ui-whatshot"></i>
                <span class="text-uppercase">prueba</span>
            </a>
        </li>#}
        {{ include('sidebar/partials/almacenes.twig') }}
        {{ include('sidebar/partials/compras.twig') }}
        {{ include('sidebar/partials/bancos.twig') }}
        {{ include('sidebar/partials/pagos.twig') }}
        {{ include('sidebar/partials/contabilidad.twig') }}
        {{ include('sidebar/partials/gestionventa.twig') }}
        {{ include('sidebar/partials/facturacion.twig') }}
        {{ include('sidebar/partials/puntoventa.twig') }}
        {{ include('sidebar/partials/recursoshumanos.twig') }}
        {{ include('sidebar/partials/nomina.twig') }}
        {{ include('sidebar/partials/logistica.twig') }}
        {{ include('sidebar/partials/crm.twig') }}
        {{ include('sidebar/partials/ecommerce.twig') }}
        {{ include('sidebar/partials/sistema.twig') }}
    </ul>
{% endblock %}
