
{% block content %}
	
    <div class="row">
        <div class="tab-content container-fluid">
            <div role="tabpanel" class="tab-pane active" id="home">
	               <h1>{{ pageData.module }}</h1>
	               <form id="{{ pageData.action }}ClientForm">
					<div class="col-xs-12">
                        <input type="hidden" name="customer_id" value="{{ customer.id }}">
						<div class="col-xs-4">
							<div class="form-group">
								<label>Nombre/Compañía:<input class="inputUnderline form-control" type="text" name="customer_bussiness_name" value="{{ customer.bussiness_name }}"></label>
							</div>
							<div><h4>Datos Fiscales:</h4></div>

							<div class="form-group">
								<label>Razón Social:<input class="inputUnderline form-control" type="text" name="customer_legal_name" value="{{ customer.legal_name }}"></label>
							</div>
							<div class="form-group">
								<label>RFC*:<input class="inputUnderline form-control" type="text" name="customer_rfc" value="{{ customer.rfc }}"></label>
							</div>
							<input type="hidden" name="customer_legal_address_id" value="{{ customer.addresses[0].id }}">
							<div>Dirección Fiscal:</div>
							<div class="col-xs-6">
                                <div class="form-group">
                                    <label>Calle:<input class="inputUnderline form-control" type="text" name="customer_legal_address_street"  value="{{ customer.addresses[0].street }}"></label>
                                </div>
								<div class="form-group">
									<label>No. Ext:<input class="inputUnderline form-control" type="text" name="customer_legal_address_external_number"  value="{{ customer.addresses[0].external_number }}"></label>
								</div>
								<div class="form-group">
									<label>C.P.:<input class="inputUnderline form-control" type="text" name="customer_legal_address_postal_code"  value="{{ customer.addresses[0].postal_code }}"></label>
								</div>
								<div class="form-group">
									<label>Estado:<input class="inputUnderline form-control" type="text" name="customer_legal_address_state"  value="{{ customer.addresses[0].state }}"></label>
								</div>
								<div class="form-group">
                                    <label>Localidad:<input class="inputUnderline form-control" type="text" name="customer_legal_address_town"  value="{{ customer.addresses[0].town }}"></label>
                                </div>
                                
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label>No.Int:<input class="inputUnderline form-control" type="text" name="customer_legal_address_internal_number"  value="{{ customer.addresses[0].internal_number }}"></label>
								</div>
								<div class="form-group">
									<label>Colonia:<input class="inputUnderline form-control" type="text" name="customer_legal_address_suburb"  value="{{ customer.addresses[0].suburb }}"></label>
								</div>
								<div class="form-group">
									<label>País:<input class="inputUnderline form-control" type="text" name="customer_legal_address_country" value="{{ customer.addresses[0].country }}"></label>
								</div>
                                <div class="form-group">
                                    <label>Municipio:<input class="inputUnderline form-control" type="text" name="customer_legal_address_municipality"  value="{{ customer.addresses[0].municipality }}"></label>
                                </div>
								<div class="form-group">
                                    <label>Referencia:<input class="inputUnderline form-control" type="text" name="customer_legal_address_reference"  value="{{ customer.addresses[0].reference }}"></label>
                                </div>
                                
							</div>
						</div>
						<div class="col-xs-8">
							{% for subsidiary in customer.subsidiaries %}
							<div class="col-xs-6">
									<input type="hidden" name="customer_subsidiary_id[]" value="{{ subsidiary.id }}">
									<div class="col-xs-6">
										<div>Dirección Sucursal:</div>
										<div class="col-xs-6">
		                                    <div class="form-group">
		                                        <label>Nombre Sucursal:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_name[{{ subsidiary.id }}]" value="{{ subsidiary.name }}"></label>
		                                    </div>
		                                    <input type="hidden" name="customer_subsidiary_address_id[]" value="{{ subsidiary.addresses[0].id }}">
											<div class="form-group">
												<label>Calle:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_address_street[{{ subsidiary.id }}]" value="{{ subsidiary.addresses[0].street }}" ></label>
											</div>
											<div class="form-group">
												<label>No. Ext:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_address_external_number[{{ subsidiary.id }}]" value="{{ subsidiary.addresses[0].external_number }}" ></label>
											</div>
											<div class="form-group">
												<label>C.P.:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_address_postal_code[{{ subsidiary.id }}]" value="{{ subsidiary.addresses[0].postal_code }}" ></label>
											</div>
											<div class="form-group">
												<label>Estado:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_address_state[{{ subsidiary.id }}]" value="{{ subsidiary.addresses[0].state }}" ></label>
											</div>
											<div class="form-group">
												<label>Localidad:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_address_town[{{ subsidiary.id }}]" value="{{ subsidiary.addresses[0].town }}" ></label>
											</div>
											<input type="hidden" name="subsidiary_phone_id[]" value="{{ subsidiary.phones[0].id }}">
											<div class="form-group">
												<label>Telefono:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_phone[{{ subsidiary.id }}]" value="{{ subsidiary.phones[0].phone }}" ></label>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="form-group">
												<label>No.Int:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_address_internal_number[{{ subsidiary.id }}]" value="{{ subsidiary.addresses[0].internal_number }}" ></label>
											</div>
											<div class="form-group">
												<label>Colonia:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_address_suburb[{{ subsidiary.id }}]" value="{{ subsidiary.addresses[0].suburb }}" ></label>
											</div>
											<div class="form-group">
												<label>País:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_address_country[{{ subsidiary.id }}]"  value="{{ subsidiary.addresses[0].country }}"></label>
											</div>
											<div class="form-group">
												<label>Municipio:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_address_municipality[{{ subsidiary.id }}]" value="{{ subsidiary.addresses[0].municipality }}" ></label>
											</div>
											<div class="form-group">
												<input type="hidden" name="customer_subsidiary_email_id[]" value="{{ subsidiary.emails[0].id }}">
												<label>Email:<input class="inputUnderline form-control" type="text" name="customer_subsidiary_address_email[{{ subsidiary.id }}]" value="{{ subsidiary.emails[0].email }}" ></label>
											</div>
										</div>
									</div>
								{% for contact in subsidiary.contacts %}
									<input type="hidden" name="subsidiary_contact_id[]" value="{{ contact.id }}">
									<div class="col-xs-6">
										<div>Detalle del Contacto:</div>
										<div class="col-xs-12">
											<div class="form-group">
												<label>Nombre del contacto:<input class="inputUnderline form-control" type="text" name="subsidiary_contact_name[{{ contact.id }}]" value="{{ contact.name }}" ></label>
											</div>
											<div class="form-group">
												<label>Area:<input class="inputUnderline form-control" type="text" name="subsidiary_contact_work_area[{{ contact.id }}]" value="{{ contact.work_area }}" ></label>
											</div>
											<input type="hidden" name="subsidiary_contact_email_id[]" value="{{ contact.emails[0].id }}">
											<div class="form-group">
												<label>Email:<input class="inputUnderline form-control" type="text" name="subsidiary_contact_email[{{ contact.id }}]" value="{{ contact.emails[0].email }}" ></label>
											</div>
											<input type="hidden" name="subsidiary_contact_phone_id[]" value="{{ contact.phones[0].id }}">
											<div class="form-group">
												<label>Telefono:<input class="inputUnderline form-control" type="text" name="subsidiary_contact_phone[{{ contact.id }}]" value="{{ contact.phones[0].phone }}" ></label>
											</div>
											<div class="form-group">
												<label>Contraseña:<input class="inputUnderline form-control" type="text" name="subsidiary_contact_password[{{ contact.id }}]" value="{{ contact.password }}" ></label>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
							{# CONSIGNATARIOS CONSIGNEE #}
						<div class="col-xs-6">
							{% for consignee in subsidiary.consignees %}
							<div class="col-xs-12">
									<input type="hidden" name="subsidiary_consignee_id[]" value="{{ consignee.id }}">
									<div class="col-xs-12">
										<div>Dirección Consignatario:</div>
										<div class="col-xs-6">
		                                    <div class="form-group">
		                                        <label>Nombre Consignatario:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_name[{{ consignee.id }}]" value="{{ consignee.name }}"></label>
		                                    </div>
		                                    <input type="hidden" name="subsidiary_consignee_address_id[]" value="{{ consignee.addresses[0].id }}">
											<div class="form-group">
												<label>Calle:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_address_street[{{ consignee.id }}]" value="{{ consignee.addresses[0].street }}" ></label>
											</div>
											<div class="form-group">
												<label>No. Ext:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_address_external_number[{{ consignee.id }}]" value="{{ consignee.addresses[0].external_number }}" ></label>
											</div>
											<div class="form-group">
												<label>C.P.:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_address_postal_code[{{ consignee.id }}]" value="{{ consignee.addresses[0].postal_code }}" ></label>
											</div>
											<div class="form-group">
												<label>Estado:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_address_state[{{ consignee.id }}]" value="{{ consignee.addresses[0].state }}" ></label>
											</div>
											<div class="form-group">
												<label>Localidad:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_address_town[{{ consignee.id }}]" value="{{ consignee.addresses[0].town }}" ></label>
											</div>
											<input type="hidden" name="subsidiary_consignee_phone_id[]" value="{{ consignee.phones[0].id }}">
											<div class="form-group">
												<label>Telefono:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_phone[{{ consignee.id }}]" value="{{ consignee.phones[0].phone }}" ></label>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="form-group">
												<label>No.Int:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_address_internal_number[{{ consignee.id }}]" value="{{ consignee.addresses[0].internal_number }}" ></label>
											</div>
											<div class="form-group">
												<label>Colonia:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_address_suburb[{{ consignee.id }}]" value="{{ consignee.addresses[0].suburb }}" ></label>
											</div>
											<div class="form-group">
												<label>País:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_address_country[{{ consignee.id }}]"  value="{{ consignee.addresses[0].country }}"></label>
											</div>
											<div class="form-group">
												<label>Municipio:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_address_municipality[{{ consignee.id }}]" value="{{ consignee.addresses[0].municipality }}" ></label>
											</div>
											<div class="form-group">
												<input type="hidden" name="subsidiary_consignee_email_id[]" value="{{ consignee.emails[0].id }}">
												<label>Email:<input class="inputUnderline form-control" type="text" name="subsidiary_consignee_email[{{ consignee.id }}]" value="{{ consignee.emails[0].email }}" ></label>
											</div>
										</div>
									</div>
							</div>
							{% endfor %}
						</div>
						{# CONSIGNATARIOS CONSIGNEE #}
							
						</div>

						
						{% endfor %}
					</div>
					
					<div class="col-xs-12">
                        <div>Asignar relación personal:</div>
						<div class="col-xs-4">
							<div class="form-group">
								<label>Lista de precios:<input class="inputUnderline form-control" type="text" name="" ></label>
							</div>
							<div class="form-group">
								<label>Tipo de crédito:<input class="inputUnderline form-control" type="text" name="" ></label>
							</div>
							<div class="form-group">
								<label>Monto de crédito:<input class="inputUnderline form-control" type="text" name="" ></label>
							</div>
							<div class="form-group">
								<label>Moneda:<input class="inputUnderline form-control" type="text" name="" ></label>
							</div>
							<div class="form-group">
								<label>Actividad:<input class="inputUnderline form-control" type="text" name="" ></label>
							</div>
							<div class="form-group">
								<label>Addendas:<input class="inputUnderline form-control" type="text" name="" ></label>
							</div>
						</div>
						<div class="col-xs-4">
                            <div>Cuenta Cliente:</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label>Cuenta Cliente:<input class="inputUnderline form-control" type="text" name="" ></label>
								</div>
								<div class="form-group">
									<label>Cuenta Anticipos:<input class="inputUnderline form-control" type="text" name="" ></label>
								</div>
								<div class="form-group">
									<label>Cuentas por Cobrar:<input class="inputUnderline form-control" type="text" name="" ></label>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<div>Cuenta Bancaria:</div>
							<div class="form-group">
								<label>Banco:<input class="inputUnderline form-control" type="text" name="" ></label>
							</div>
							<div class="form-group">
								<label>Nombre Banco:<input class="inputUnderline form-control" type="text" name="" ></label>
							</div>
							<div class="form-group">
								<label>Cuenta:<input class="inputUnderline form-control" type="text" name="" ></label>
							</div>
							<div class="form-group">
								<label>Sucursal:<input class="inputUnderline form-control" type="text" name="" ></label>
							</div>
							<div class="form-group">
								<label>Clabe:<input class="inputUnderline form-control" type="text" name="" ></label>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group text-center">
									<button type="submit" class="btn btn-success">Guardar</button> | 
                                    <button type="button" class="btn btn-danger">Cancelar</button>
						</div>
						
					</div>
                    </form>
            </div>
        </div>
    </div>
    {% block loadScripts %}
		<script data-load="script" type="text/javascript">
			initializeCustomerTable();
		</script>
	{% endblock %}

{% endblock %}



