
<div class="col-md-12 modalRemoveIds" id="titleForUbications">
    <h1>Ubicaciones</h1>
    <hr/>
</div>
<div class="col-md-12">
    <div class="alert alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <p>
                Etsy sustainable try-hard selfies lo-fi
                polaroid sriracha butcher PBR&B, artisan man
                bun glossier. Health goth snackwave microdosing
                synth dreamcatcher, brunch cronut crucifix.
                Everyday carry pour-over meh, etsy marfa deep v health goth 90's
                Etsy sustainable try-hard selfies lo-fi
                polaroid sriracha butcher PBR&B, artisan man
                bun glossier. Health goth snackwave microdosing
                synth dreamcatcher, brunch cronut crucifix.
                Everyday carry pour-over meh, etsy marfa deep v health goth 90's
                Etsy sustainable try-hard selfies lo-fi
                polaroid sriracha butcher PBR&B, artisan man
                bun glossier. Health goth snackwave microdosing
                synth dreamcatcher, brunch cronut crucifix.
                Everyday carry pour-over meh, etsy marfa deep v health goth 90's
            </p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-12">
            <div class="req form-group">
                <label for="ubication_name">Nombre: </label>
                <input type="text" class="form-control" id="ubication_name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ubication_code">Código: </label>
                <input type="text" class="form-control" id="ubication_code">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ubication_name">Tipo: </label>
                <select  id="ubication_type_id">
                    {% for type in types %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label for="ubication_weight_max">Peso M&aacute;ximo: </label>
                <input min="0" type="number" class="form-control"  id="ubication_weight_max">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <select  id="ubication_weight_max_unit_id" >
                    {% for unit in units.peso %}
                    <option value="{{ unit.id }}">{{ unit.symbol }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="ubication_description">Descripción: </label>
                <textarea  id="ubication_description" ></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Dimensiones: </label>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="number" min="0" class="form-control"
                        placeholder="Largo" id="ubication_deep">
                        <select  id="ubication_deep_unit_id" >
                            {% for unit in units.longitud %}
                            <option value="{{ unit.id }}">{{ unit.symbol }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="number" min="0" class="form-control"
                        placeholder="Alto" id="ubication_height">
                        <select  id="ubication_height_unit_id" >
                            {% for unit in units.longitud %}
                            <option value="{{ unit.id }}">{{ unit.symbol }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="number" min="0" class="form-control"
                        placeholder="Ancho" id="ubication_width">
                        <select  id="ubication_width_unit_id">
                            {% for unit in units.longitud %}
                            <option value="{{ unit.id }}">{{ unit.symbol }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
                    <label>Imagen </label>
        <div  class="form-group">

            <img  id="output" width="200" height="150" />

            <input class="btn " type="file" accept="image/*" id="input_image">
        </div>
</div>
        
    </div>
    <div class="col-md-4">



        <div class="col-md-12">

            <a href="javascript:void(0);" style="margin-top: 10px; margin-bottom: 10px;" class="btn modalRemoveIds btn-primary block"
            id="btnAddMoreUbications">
            Guardar Ubicaci&oacute;n</a>
        </div>

        <div style="height: 388px; overflow-y: auto;" class="col-md-12 modalRemoveIds" id="ubicationsToSave">
            {# :v #}
        </div>
    </div>



