{% block content %}
    {#
        {{ type }} = 1 Alta de producto
        {{ type }} = 2 Alta de servicio
        {{ type }} = 3 Alta de activo fijo
    #}
    <section>
        <div class="row" id="add-product-vue">
            <div class="header-buttons" style="z-index: 999;">
                <div class="btn-group main-buttons">

                    <el-tooltip placement="top">
                        <div slot="content">
                            Guarda el {{ typeName }} y cierra el formulario
                        </div>
                        <button
                            class="btn"
                            type="primary"
                            :disabled="$v.$invalid"
                            @click.prevent="saveProduct(0)">
                            Guardar {{ typeName }}
                        </button>
                    </el-tooltip>
                {% if type == 1 %} {# ocultar en servcio/activo fijo #}

                    <el-tooltip placement="top">
                        <div slot="content">
                            Guarda el producto y deja la vista con los campos llenos<br/>
                            con opción a modificar.
                        </div>
                        <button
                            class="btn"
                            type="primary"
                            :disabled="$v.$invalid"
                            @click.prevent="saveProduct(1)">
                            Guardar y Generar uno Similar
                        </button>
                    </el-tooltip>

                    <el-tooltip placement="top">
                        <div slot="content">
                            Guarda el producto, limpia los campos para llenarlos
                            <br/>con informaciòn diferente y vincula este nuevo con el anterior guardado.
                        </div>
                        <button
                            class="btn"
                            type="primary"
                            :disabled="$v.$invalid"
                            @click.prevent="saveProduct(2)">
                            Guardar y Generar uno Vinculado
                        </button>
                    </el-tooltip>

                    <el-tooltip placement="top">
                        <div slot="content">
                            Guarda el producto, deja los campos llenos con opción a <br/>
                            modificar y vincula este nuevo con el anterior guardado.
                        </div>
                        <button
                            class="btn"
                            type="primary"
                            :disabled="$v.$invalid"
                            @click.prevent="saveProduct(3)">
                            Guardar, Generar uno Vinculado y Similar
                        </button>
                    </el-tooltip>

                {% endif %}
                    <button
                        class="btn"
                        type="primary"
                        @click="closeLateral">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="panel-content" style="margin-top: 10px;">
                <form>
                    <div class="row">
                        <!-- %CONTENT% -->
                        <!-- basic product data -->
                        <div class="col-lg-4 col-md-5">
                            {# RECUADRO DATOS BÁSICOS #}
                            {% include 'Warehouse/Products/partials/boxes/basicInfoBox.twig' %}


                            {# RECUADRO CATEGORÍAS #}
                            {% if type != 2 %} {# ocultar en servcio #}
                                {% include 'Warehouse/Products/partials/boxes/categoriesBox.twig' %}
                            {% endif %}


                            {# RECUADRO GRUPOS Y LÍNEAS #}
                            {% if (type == 1) %} {# ocultar en servicio / activo fijo #}
                                {% include 'Warehouse/Products/partials/boxes/groupsLinesBox.twig' %}
                            {% endif %}

                            {# RECUADRO CONTABILIDAD #}
                            {% include 'Warehouse/Products/partials/boxes/accountingAccountBox.twig' %}

                            {# RECUADRO IMPUESTOS #}
                            {% include 'Warehouse/Products/partials/boxes/taxesBox.twig' %}


                        </div>
                        <!-- / basic product data -->
                        <!-- additionalTags -->
                        <div class="col-md-8 col-sm-8">
                            {% if type != 3 %} {# ocultar en activo fijo #}
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Imágenes del {{ typeName }}</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target=".collapseExample5"
                                                aria-expanded="false" aria-controls="collapseExample5" data-toggle="tooltip"
                                                    title="Indicaciones">
                                                <i class="ui ui-help_outline"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                                    data-toggle="tooltip"
                                                    title="Minimizar">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="indication collapse collapseExample5">
                                        <div class="indication-content">
                                            <div class="indication-img">
                                                <span class="indication-icon ui ui-help"></span>
                                            </div>
                                            <div class="indication-text">
                                                De clic en el recuadro de la imagen para activarlo, luego vuelva a dar clic para
                                                agregar la imagen.
                                                Al haber agregado la imagen puede seleccionar las opciones: “Imagen destacada” o
                                                “Eliminar”.
                                                Puede agregar las imágenes que desee.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="m-h300">
                                                <div v-for="i in countImages" :id="'idContainerImg-'+(i-1)"
                                                     class="col-xs-6">
                                                    <div class="panel panel-default panel-image"><!-- selected -->
                                                        <div class="panel-body border">
                                                            <div class="block h100">
                                                                <div class="content contentMiddle">
                                                                    <vue-image-picker
                                                                            v-model="imgFiles[i-1]"
                                                                            class-name="img-responsive noBorder mh100 center"
                                                                            placeholder=""
                                                                            text=""
                                                                            :show-input="true">
                                                                    </vue-image-picker>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-footer noPadding border">
                                                            <div class="dropup text-right">
                                                                <button class="btn btn-link dropdown-toggle" type="button"
                                                                        id="dropdownMenu1" data-toggle="dropdown"
                                                                        aria-haspopup="true"
                                                                        aria-expanded="true">
                                                            <span class="glyphicon glyphicon-option-vertical"
                                                                  aria-hidden="true"></span>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right basic"
                                                                    aria-labelledby="dropdownMenu1">
                                                                    <li>
                                                                        <a href="javascript:void(0);"
                                                                           @click="deleteImgFile((i-1))">Eliminar</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <a class="btn btn-default block h100" @click="addImage()">
                                                        <div class="content contentMiddle text-center">
                                                            <span class="fa fa-plus s35"></span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Proveedor</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target=".collapseExample7"
                                            aria-expanded="false" aria-controls="collapseExample7" data-toggle="tooltip"
                                                title="Indicaciones">
                                            <i class="ui ui-help_outline"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                                data-toggle="tooltip"
                                                title="Minimizar">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="indication collapse collapseExample7">
                                    <div class="indication-content">
                                        <div class="indication-img">
                                            <span class="indication-icon ui ui-help"></span>
                                        </div>
                                        <div class="indication-text">
                                            Seleccione al proveedor que está proporcionando el producto.
                                            En caso de no aparecer en la lista puede agregarlo al catálogo de proveedores desde
                                            el botón “Nuevo proveedor”.
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="m-h300">
                                        <div class="row" v-for="(i, index) in product.providers">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Proveedores:</label>
                                                    <el-select v-model="i.providerId" placeholder="Selecciona">
                                                        <el-option
                                                          v-for="item in selectizeProvidersOptions"
                                                          :key="item.id"
                                                          :label="item.legal_name"
                                                          :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>No. de Parte:</label>
                                                    <input v-model="i.partNumber"/>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <a @click="removeProvider(index)" class="btn block h20">
                                                    <div class="content contentMiddle text-center">
                                                        <span class="fa fa-minus s35"></span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <a role="button" data-action="openLateral" data-panelsize="lg"
                                           data-route="almacenes/proveedores/nuevo"
                                           class="btn btn-default block h30">
                                           <div class="content contentMiddle text-center">
                                                <i aria-hidden="true" class="fa fa-plus"></i>
                                                Nuevo Provedor
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn btn-default block h30" @click="addProvider()">
                                            <div class="content contentMiddle text-center">
                                                Añadir Proveedor
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Detalles extra del producto</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target=".collapseExample8"
                                            aria-expanded="false" aria-controls="collapseExample8" data-toggle="tooltip"
                                                title="Indicaciones">
                                            <i class="ui ui-help_outline"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                                data-toggle="tooltip"
                                                title="Minimizar">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="indication collapse collapseExample8">
                                    <div class="indication-content">
                                        <div class="indication-content">
                                            <div class="indication-img">
                                                <span class="indication-icon ui ui-help"></span>
                                            </div>
                                            <div class="indication-text">
                                                Puede añadir la ficha técnica del producto en caso de requerirla, ya sea con un documento o agregándola como texto.
                                                Agregue un tipo de empaquetado si es necesario, seleccione entre las opciones o en caso de no aparecer agréguela en el catálogo de Tipos de empaquetado.
                                                Seleccione la fracción arancelaria a la que pertenezca el producto, en caso de ser necesario.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body basic">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            {% if type != 2 %} {# ocultar en servcio #}
                                                <div class="col-xs-12">
                                                    <label>Ficha técnica</label>
                                                    <div class="form-group">
                                                        <input type="file" accept="application/pdf"
                                                               @change="onFileImgChange($event)"/>
                                                    </div>
                                                    <span>Si lo prefieres, puedes agregar la ficha técnica como texto</span>
                                                    <p><textarea class="textear"></textarea></p>
                                                </div>
                                            {% endif %}
                                            {% if type != 2 %} {# ocultar en servcio #}
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label>Tipo de empaquetado:</label>
                                                        <el-select
                                                            v-model="product.packagingType"
                                                            filterable>
                                                            <el-option
                                                                v-for="packagingType in $store.getters['packagingType/dataForSelect'].options"
                                                                :key="packagingType.id"
                                                                :value="packagingType.id"
                                                                :label="packagingType.name"></el-option>

                                                        </el-select>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if type != 2 %} {# ocultar en servcio #}
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="phones">Fracción arancelaria</label>
                                                        <vue-selectize-js
                                                               :selectize-settings="selectizeTariffItemsSettings"
                                                               :selectize-options="selectizeTariffItemsOptions"
                                                               v-model="product.tariffItem">
                                                        </vue-selectize-js>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if type != 3 %} {# ocultar en activo fijo #}
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="phones">Mercados:</label>
                                                        <el-select
                                                            v-model="product.markets"
                                                            placeholder="Selecciona mercado(s)"
                                                            multiple
                                                            >
                                                            <el-option
                                                              v-for="item in $store.getters['market/dataForSelect'].options"
                                                              :key="item.id"
                                                              :label="item.name"
                                                              :value="item.id">
                                                            </el-option>
                                                        </el-select>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if (type != 3) %} {# ocultar en activo fijo #}
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="phones">Giros:</label>
                                                        <vue-selectize-js
                                                                :selectize-settings="selectizeBusinessTypesSettings"
                                                                :selectize-options="selectizeBusinessTypesOptions"
                                                                v-model="product.businessTypes">
                                                        </vue-selectize-js>
                                                    </div>
                                                </div>
                                            {% endif %}
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="phones">Etiquetas:</label>
                                                        <vue-selectize-js
                                                               :selectize-settings="selectizeTagsSettings"
                                                               :selectize-options="selectizeTagsOptions"
                                                               v-model="product.tags">
                                                        </vue-selectize-js>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            {% if type != 2 %} {# ocultar en servcio #}
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="phones">Marca:</label>
                                                        <el-select
                                                            v-model="product.brands"
                                                            filterable
                                                            placeholder="Selecciona la marca">
                                                            <el-option
                                                              v-for="item in $store.getters['brand/dataForSelect'].options"
                                                              :key="item.id"
                                                              :label="item.name"
                                                              :value="item.id">
                                                            </el-option>
                                                        </el-select>
                                                    </div>
                                                </div>
                                            {% endif %}

                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="">Tipos de {{ typeName }}:</label>
                                                        <el-select
                                                            v-model="product.productTypeId"
                                                            placeholder="Selecciona"
                                                            filterable
                                                            >
                                                            <el-option
                                                              v-for="item in selectizeProductTypesOptions"
                                                              :key="item.id"
                                                              :label="item.name"
                                                              :value="item.id">
                                                            </el-option>
                                                        </el-select>
                                                    </div>
                                                </div>



                                        </div>
                                            <div class="col-md-12" id="containerSubCategories">
                                                {# JQUERY #}
                                            </div>


                                            <div class="col-xs-12">
                                                <label for="">Dimensiones del Producto</label>
                                            </div>

                                        {% if type != 2 %} {# ocultar en servcio #}
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="block">
                                                        <div class="col-sm-6">
                                                            <input type="number" min="0" class="form-control"
                                                                   placeholder="Largo" v-model="product.dimension.deep">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <select class="border-select" v-model="product.dimension.deepUnitId">
                                                                {% for unit in units.longitud %}
                                                                    <option value="{{ unit.id }}">{{ unit.symbol }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="block">
                                                        <div class="col-sm-6">
                                                            <input type="number" min="0" class="form-control"
                                                               placeholder="Alto" v-model="product.dimension.height">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <select class="border-select" v-model="product.dimension.heightUnitId">
                                                                {% for unit in units.longitud %}
                                                                    <option value="{{ unit.id }}">{{ unit.symbol }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="block">
                                                        <div class="col-sm-6">
                                                            <input type="number" min="0" class="form-control"
                                                                  placeholder="Ancho" v-model="product.dimension.width">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <select class="border-select" v-model="product.dimension.widthUnitId">
                                                                {% for unit in units.longitud %}
                                                                    <option value="{{ unit.id }}">{{ unit.symbol }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="block">
                                                        <div class="col-sm-6">
                                                            <input min="0" placeholder="Peso" type="number" class="form-control"
                                                               v-model="product.dimension.weight">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <select class="border-select" v-model="product.dimension.weightUnitId">
                                                               {% for unit in units.peso %}
                                                                   <option value="{{ unit.id }}">{{ unit.symbol }}</option>
                                                               {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Variaciones de Atributos</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target=".collapseExample9"
                                            aria-expanded="false" aria-controls="collapseExample9" data-toggle="tooltip"
                                                title="Indicaciones">
                                            <i class="ui ui-help_outline"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                                data-toggle="tooltip"
                                                title="Minimizar">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="indication collapse collapseExample9">
                                    <div class="indication-content">
                                        <div class="indication-img">
                                            <span class="indication-icon ui ui-help"></span>
                                        </div>
                                        <div class="indication-text">
                                            En esta tarjeta puede añadir los productos similares que maneje con variación de atributos como por ejemplo: Colores, dimensiones, etc. Dependiendo de los atributos que le haya asignado y que tenga registrados en el catálogo de atributos.
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body noPadding">
                                    {% if type == 1 %} {# ocultar en servcio/activo fijo #}
                                        <div class="col-xs-8">
                                            <div class="form-group">
                                                <label for="phones">Atributos:</label>
                                                <vue-selectize-js
                                                        v-on:change="onChangeAttrs($event.selectizeObj.items)"
                                                        :selectize-settings="selectizeAttributesSettings"
                                                        :selectize-options="selectizeAttributesOptions"
                                                        v-model="product.attributes">
                                                </vue-selectize-js>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if type == 1 %} {# ocultar en servcio/activo fijo #}
                                        <div class="table-attributes">
                                            <div class="table-attributes-block attrib">
                                                <div class="table-attributes-block-titulo">Attributes: </div>
                                                <div class="table-attributes-block-content">
                                                    <ul class="nav nav-tabs noBorder" id="myTabs" role="tablist">
                                                        {# ITEMS #}
                                                        <li v-for="attr in selectedAttrs" role="presentation" class="block">
                                                            <a class="noBorder square skin" :href="'#' + attr.id"
                                                               :id="'t'+attr.id"
                                                               role="tab" data-toggle="tab" :aria-controls="attr.id"
                                                               aria-expand="" col-lged="true" aria-expanded="true">${ attr.name
                                                                    }
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="table-attributes-block items">
                                                <div class="table-attributes-block-titulo">Items: </div>
                                                <div class="table-attributes-block-content tab-content" id="myTabContent" name="" data-id="" data-name="">
                                                    {# TAB ITEMS #}
                                                    <div v-for="attr in selectedAttrs"
                                                         class="tab-pane fade" role="tabbox" :id="attr.id"
                                                         :aria-labelledby="'t'+attr.id" name="" data-id="" data-name="">
                                                        <p>title: ${ attr.name }</p>
                                                        <div class="col-md-3 space" v-for="item in attr.items">
                                                            <div class="ui-button bgDarkGreyClear noShadow">
                                                                <a type="button" :value="item.id" :name="attr.name"
                                                                       :id="item.id+item.name" class="btn attributeRadio"
                                                                       @click="onChangeItem(item, attr)">
                                                                    <label :for="item.id+item.name">${ item.name }</label>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="table-attributes-block current">
                                                <div class="table-attributes-block-titulo">Current:
                                                </div>
                                                <div class="tble-attributes-block-content">
                                                    <el-tag :key="value.itemId" v-for="(value, index) in currentAttrs"
                                                            :closable="true"
                                                            :close-transition="false"
                                                            @close="handleAttrClose(value)"
                                                            style="font-size: medium">
                                                        ${ value.parentName } / ${ value.itemName }
                                                    </el-tag>
                                                </div>
                                            </div>

                                            {# Por si algùn dìa cambian de opinion
                                            <div v-if="currentAttrs.length > 0" class="form-group">
                                                <label>SKU: </label>
                                                <input v-model="productSku" placeholder="SKU">
                                            </div>
                                            <el-button class="block" type="primary"
                                                       @click="addVariation"
                                                       v-if="currentAttrs.length > 0">
                                                Agregar
                                            </el-button> #}

                                            {#  Por si algùn dìa cambian de opinion
                                            <div style="overflow-y: auto; max-height: 300px;" class="col-md-12">
                                                <div v-for="(value, index) in product.variationsAttrs"
                                                     class="panel panel-default col-md-3"><!-- selected -->
                                                    <div class="panel-body border">
                                                        <strong>SKU: </strong>${ value.sku } <br/>
                                                        <div v-for="(val, key) in value" :key="value">
                                                            <strong>Attributo : </strong>${ val.parentName } <br/>
                                                            <strong>Item : </strong>${ val.itemName } <br/>
                                                        </div>
                                                    </div>
                                                    <el-button class="block posicion" type="primary"
                                                               @click="addVariation"
                                                               v-if="currentAttrs.length > 0">
                                                        Agregar
                                                    </el-button>
                                                </div>

                                                <div style="overflow-y: auto; max-height: 300px; padding: 10px 0px;" class="col-md-12">
                                                    <div class="col-md-3">
                                                        <div v-for="(value, index) in product.variationsAttrs"
                                                             class="panel panel-default"><!-- selected -->
                                                            <div class="panel-body border">
                                                                <strong>SKU: </strong>${ value.sku } <br/>
                                                                <div v-for="(val, key) in value" :key="value">
                                                                    <strong>Attributo : </strong>${ val.parentName } <br/>
                                                                    <strong>Item : </strong>${ val.itemName } <br/>
                                                                </div>
                                                            </div>
                                                            <div class="panel-footer noPadding border">
                                                                <div class="dropup text-right">
                                                                    <button class="btn btn-link dropdown-toggle" type="button"
                                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                                            aria-expanded="true">
                                                                        <span class="glyphicon glyphicon-option-vertical"
                                                                              aria-hidden="true"></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                                                                        <li>
                                                                            <a href="javascript:void(0);"
                                                                               @click="deleteVariationsAttrsById(index)">Eliminar</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>#}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            {% if type == 1 %} {# ocultar en servcio/activo fijo #}
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Productos Vinculados</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target=".collapseExample10"
                                                aria-expanded="false" aria-controls="collapseExample10" data-toggle="tooltip"
                                                    title="Indicaciones">
                                                <i class="ui ui-help_outline"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                                    data-toggle="tooltip" title="Minimizar">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="indication collapse collapseExample10">
                                        <div class="indication-content">
                                            <div class="indication-img">
                                                <span class="indication-icon ui ui-help"></span>
                                            </div>
                                            <div class="indication-text">
                                                Seleccione uno o más productos que pueden tener vínculo con este
                                                nuevo producto.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            <div class="form-group"
                                                 v-for="(value, index) in product.linkedProducts">
                                                <label for="">Productos Vinculados:</label>
                                                <el-select
                                                        v-model="value.productId"
                                                        filterable
                                                        remote
                                                        placeholder="Buscar..."
                                                        loading-text="Buscando..."
                                                        no-match-text="Producto no encontrado"
                                                        no-data-text="Producto no encontrado"
                                                        :remote-method="ajaxSearchProducts"
                                                        :loading="loading">
                                                    <el-option
                                                            v-for="item in selectProductsOptions"
                                                            :key="item.value"
                                                            :label="item.label"
                                                            :value="item.value">
                                                    </el-option>
                                                </el-select>
                                                <el-button class="pull-right" type="primary"
                                                           @click="removeLinkedProduct(index)">
                                                    <i class="el-icon-circle-close"></i>
                                                </el-button>
                                            </div>
                                        </div>
                                        <el-tooltip placement="top">
                                            <div slot="content">
                                                Clic para agregar un producto y vincularlo a
                                                este nuevo producto
                                            </div>
                                            <el-button class="btn" type="primary"
                                                       @click="addLinkedProduct">
                                                Añadir Producto Vinculado
                                            </el-button>
                                        </el-tooltip>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [{
            title: 'Añadir {{ typeName }}',
            file: 'Warehouse/Products/productAdd.js',
            functions: [{
                name: 'initProductAddModule',
                args: [{{ type }}]
            }]
        }];
    </script>
{% endblock %}
