<section>
    <div id="metrics">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title">USUARIOS</h3>
                            <div class="box-tools pull-right">
                                <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <vue-chart
                                :chart-data-model="usrchartexample" style="width: 500px; height: 250px;">
                            </vue-chart>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title">PAQUETES</h3>
                            <div class="box-tools pull-right">
                                <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <vue-chart
                                :chart-data-model="pktchartexample" style="width: 500px; height: 250px;">
                            </vue-chart>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title">ROLES</h3>
                            <div class="box-tools pull-right">
                                <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <vue-chart
                                :chart-data-model="rolchartexample" style="width: 500px; height: 250px;">
                            </vue-chart>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title">COMPAÑIAS</h3>
                            <div class="box-tools pull-right">
                                <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <vue-chart
                                :chart-data-model="cochartexample" style="width: 500px; height: 250px;">
                            </vue-chart>
                        </div>
                    </div>
                </div>
            </div>
</section>
<script id="scriptContainer" type="text/javascript">
uiVars['insertUsr'] = {{ insertUser|json_encode|raw }};
uiVars['updateUsr'] = {{ updateUser|json_encode|raw }};
uiVars['deleteUsr'] = {{ deleteUser|json_encode|raw }};

uiVars['insertPkt'] = {{ insertPkt|json_encode|raw }};
uiVars['updatePkt'] = {{ updatePkt|json_encode|raw }};
uiVars['deletePkt'] = {{ deletePkt|json_encode|raw }};

uiVars['insertRol'] = {{ insertRol|json_encode|raw }};
uiVars['updateRol'] = {{ updateRol|json_encode|raw }};
uiVars['deleteRol'] = {{ deleteRol|json_encode|raw }};

uiVars['insertCo'] = {{ insertCompany|json_encode|raw }};
uiVars['updateCo'] = {{ updateCompany|json_encode|raw }};
uiVars['deleteCo'] = {{ deleteCompany|json_encode|raw }};
  init.lenght = 0;
        init = [ {
            title: 'Metricas de Rendimiento',
            file: 'Admin/metrics.js',
            functions: [ {
                name: 'initMetricas',
                args: [
                uiVars['insertUsr'], 
                uiVars['updateUsr'], 
                uiVars['deleteUsr'],
                uiVars['insertPkt'], 
                uiVars['updatePkt'], 
                uiVars['deletePkt'],
                uiVars['insertRol'], 
                uiVars['updateRol'], 
                uiVars['deleteRol'], 
                uiVars['insertCo'], 
                uiVars['updateCo'], 
                uiVars['deleteCo']
                ]
            } ]
        } ];
</script>