    {# Lateral Cuentas Contables New/Edit #}
    <section>
    <div class="window container-fluid" id="accountingList">
    	<div class="row">
    		<div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Cuenta  Contable</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="container-fluid">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Cuenta:</label>
                                            <label>${account.parents_account_concat}
                                                ${childDelimiter}
                                            </label>
                                            <input v-model="account.account">
                                        </div>
                                        <div class="form-group">
                                            <label>Descripción:</label>
                                            <input v-model="account.name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Tipo de cuenta:</label>
                                            <el-select v-model="account.type_id" placeholder="" :disabled="disabled" >
                                                <el-option
                                                v-for="item in selectizeTypeOptions"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                                <span style="float: left">${ item.name }</span>
                                                </el-option> 
                                            </el-select>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Clasificacion:</label>
                                            <el-select v-model="account.classification_id" placeholder="" :disabled="disabled">
                                                <el-option
                                                v-for="item in selectizeClassificationOptions"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                                <span style="float: left">${ item.name }</span>
                                                </el-option> 
                                            </el-select>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Naturaleza:</label>
                                            <el-select v-model="account.nature_id" placeholder="" :disabled="disabled">
                                                <el-option
                                                v-for="item in selectizeNatureOptions"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                                <span style="float: left">${ item.name }</span>
                                                </el-option> 
                                            </el-select>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Moneda:</label>
                                            <el-select v-model="account.currency_id" placeholder="" :disabled="disabled">
                                                <el-option
                                                v-for="item in selectizeCurrencyOptions"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                                <span style="float: left">${ item.name }</span>
                                                </el-option> 
                                            </el-select>
                                        </div>
                                        <div class="form-group">
                                            <label>Descripción Auxiliar:</label>
                                            <input v-model="account.aux_name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <legend>Cuentas Ligadas:</legend>
                                            <div class="container-fluid">
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label>Cuenta Sat:</label>
                                                        <input v-model="account.grouperSatCode">
                                                        <a role="button" @click="openGrouperSatModal()" class="input-group-addon btn">
                                                            <span class="fa fa-search"></span></a>
                                                    </div>
                                                </div>
                                                {# <div class="form-group">
                                                    <label>Cuenta Complementaria:</label>
                                                    <select>
                                                    </select>
                                                </div> #}
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            
    	</div>
        <div class="row">
            <div class="row col-md-12 ">
                <div class="block centered h100 ">
                    <div class=" content contentMiddle text-center">
                        <a class="btn btn-success" @click="saveAccount(account)"><i class="glyphicon glyphicon-ok"></i> Guardar</a>
                        <a class="btn btn-danger" data-action="closeTab" ><i class="glyphicon glyphicon-remove"></i> Cancelar </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Modal detail sale -->
        <div class="modal fade" id="modal-sat-grouper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="false">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Agrupadores SAT</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" id="grouperSatList">
                            <vue-dynamic-table 
                                class-name="table table-bordered table-hover"
                                v-bind:filter-enabled="true"
                                v-on:go-to-page="goToPage"
                                v-on:action-link-click="actionLink"
                                v-bind:pagination-options="tablePageOptions"
                                v-bind:columns="sourceColumns"
                                v-bind:data-model="listSatAccounts"
                                v-bind:expandable-row="true"
                            >
                                <template slot="slotAccount" scope="row">
                                    <a role="button" v-on:click="addGrouperToAccount(row.object)" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                                </template>
                            </vue-dynamic-table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" class="close" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script id="scriptContainer" type="text/javascript">
        {% if id %}
        uiVars['id'] = {{ id }};
        uiVars['option'] = {{ option|json_encode|raw }};
        uiVars['parents_account_concat'] = {{ parents_account_concat|json_encode|raw }};
        {% else %}
        uiVars['id'] = null;
        uiVars['option'] = null;
        uiVars['parents_account_concat'] = null;
        {% endif %}
    	uiVars['classificationOptions'] = {{ classification|json_encode|raw }};
        uiVars['TypeOptions'] = {{ type|json_encode|raw }};
        uiVars['natureOptions'] = {{ nature|json_encode|raw }};
        uiVars['levelTypeOptions'] = {{ levelType|json_encode|raw }};
        uiVars['currencyOptions'] = {{ currency|json_encode|raw }};
        uiVars['grouperSATOptions'] = {{ grouperSAT|json_encode|raw }};
        // alert(id);
        init.length = 0;
        init = [ {
            file: 'Accounting/Catalogs/AccountingAccount.js',
            functions: [ {
                name: 'loadAccountList',
                args: [ uiVars['classificationOptions'], uiVars['TypeOptions'], uiVars['natureOptions'], uiVars['levelTypeOptions'], uiVars['currencyOptions'], uiVars['grouperSATOptions'], uiVars['id'], uiVars['option'], uiVars['parents_account_concat'] ]
                // args: [  ]
            }
            ,{
                name: 'loadSatAccountList',
                args: []
                // args: [  ]
            }
            ]
        } ];
    </script>
